*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 90px;
    background-color: #3b5998;
    min-width: 980px;
    color: white;
    padding: 0px 150px 0px 150px;
}
.form-controlsetting{
    height: 24px !important;
}
select{
    width: 65px !important;
    height: 30px !important;
    text-align: center;
}